body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.header .logo {
    width: 70%;
    height: 50%;
}

.dropdown {
    margin-left: 80px;
    position: relative;
    display: inline-block;
    top: 15px;
}

.dropdown-btn {
    border: none;
    background: none;
    font-size: 10px;
}

.dropdown img{
    position: relative;
    top: 5px;
    width: 15px;
    height: 15px;
}

.header menu img{
    position: relative;
    border: solid 1px black;
    right: 15px;
    width: 25px;
    height: 25px;
}

.header .shopping{
    transform: scaleX(-1);
}

.header .shopping img{
    width: 20px;
}